


    <tbody>
      <tr>
          <td>
            <%= link_to(event.title, course_event_path(@course,event)) %>
          </td>
          <td>
            <%= event.city %>
          </td>
          <td>
            <%= event.schedule %>
          </td>
          <td>
            <%= event.contact_name %>
          </td>
          <td>
            <%= event.contact_number %>
          </td>
          <td>
            <% if current_user == event.user %>
              <%= link_to("查看", course_event_path(@course,event), class:"btn btn-sm btn-success")%>
              <%= link_to("编辑",  edit_course_event_path(@course,event), class:"btn btn-sm btn-primary")%>
              <%= link_to("删除", course_event_path(@course,event), class:"btn btn-sm btn-danger", :method => :delete, :data => { :confirm => "确认删除?" })%>
            <% else %>
              <%= link_to("查看", course_event_path(@course,event), class:"btn btn-sm  btn-success")%>
            <% end %>
          </td>
      </tr>
  </tbody>
