

    
    <tbody>
      <tr>
          <td>
            <%= link_to(event.title, course_event_path(@course,event)) %>
          </td>
          <td>
            <%= event.city %>
          </td>
          <td>
            <%= event.schedule %>
          </td>
          <td>
            <%= event.contact_name %>
          </td>
          <td>
            <%= event.contact_number %>
          </td>
          <td>
            <%= event.created_at %>
          </td>
          <td>
            <%= link_to("查看", course_event_path(@course,event), class:"btn btn-view")%>
          </td>
      </tr>
  </tbody>
