
<div class="container">
	<div class="row-fluid">
    <div class="col-1">
		</div>
		<div class="col-10 card">
			<h3 class="page-header text-center">
				<%= @event.title %>
			</h3>
      <div class="eventdes">
        <p><%= simple_format(@event.description) %></p>

      </div>
			<dl class="dl-horizontal">
				<dt>
					活动时间
				</dt>
				<dd>
					<%= @event.schedule %>
				</dd>
				<dt>
					活动城市
				</dt>
				<dd>
					<%= @event.city %>
				</dd>
				<dt>
					联系人
				</dt>
				<dd>
					<%= @event.contact_name %>
				</dd>
				<dt>
					联系方式
				</dt>
				<dd>
					<%= @event.contact_number %>
				</dd>
			</dl>
		</div>
    <div class="col-1">
		</div>
	</div>
</div>
<div class="container">
			<div class="card paper">
<div>
  <details>
  <summary style="padding:1em;"><%= @event.posts.count %> 条评论</summary>
  <%= render :partial => "posts/post", :collection => @posts, :as => :post %>
  </details>
</div>


<div class="col-md-12">
  <%= simple_form_for [@course, @event, @post] do |f| %>
  <fieldset class="form-group">
    <%= f.input :content, :label => "回复", placeholder: "输入内容"%>
  </fieldset>
  <%= f.submit "发送", class: "button btn btn-sm btn-danger",  data: { disable_with:"发送中..."} %>
  <% end %>
</div>

</div>
</div>
