<ul class="list-group">
  <li class="list-group-item ">
    <span class="titlep">
  	  <a href="#"><%= post.user.email %></a> <time> <%= post.created_at %></time>
  		<p><%= simple_format(post.content) %></p>
    </span>
    <ul class="actions" href="#">
  		<li><a class="reply"><%= link_to("编辑",  edit_admin_course_event_post_path(@course, @event, post))%></a></li>
      <li><a class="reply"><%= link_to("删除", admin_course_event_post_path(@course, @event, post), :method => :delete, :data => { :confirm => "确认删除?" })%></a></li>
    </ul>
  </li>
</ul>
