<div class="coursepage">
  <div class="col-md-12 coursetitle">
    <div class="col-10">
      <h1> <%= @course.title %> </h1>
      </div>
      <div class="col-2 followshow">
        <% if current_user && current_user.is_follower?(@course) %>

          <%= link_to(" 已关注", unfollow_course_path(@course), method: :post, class: "fa fa-heart") %>

        <% else %>

          <%= link_to(" 未关注", follow_course_path(course), method: :post, class: "fa fa-heart-o") %>
        <% end %></div>
  </div>
</div>
<div class="center">
    <%= image_tag @course.image.url(:medium, class: "course_image") %>
</div>
<div class="center">
    <%= simple_format(@course.description) %>
</div>


<div class="container">
<%= link_to("发起活动", new_course_event_path(@course), class: "btn btn-default pull-right")%>
<div>

  <%= render :partial => "events/events", :collection => @events, :as => :event %>
</div>
</div>
