<div class="coursepage">
  <div class="col-md-12 coursetitle">
    <div class="col-10">
      <h1> <%= @course.title %> </h1>
      </div>
      <div class="col-2 followshow">
        <% if current_user && current_user.is_follower?(@course) %>

          <%= link_to(" 已关注", unfollow_course_path(@course), method: :post, class: "fa fa-heart") %>

        <% else %>

          <%= link_to(" 未关注", follow_course_path(@course), method: :post, class: "fa fa-heart-o") %>
        <% end %></div>
  </div>
</div>
<div class="container card center2">
  <div class="thumbnail col-md-4">
      <%= image_tag @course.image.url(:medium, class: "course_image") %>
  </div>
  <div class="col-md-4 col-offet-4">
      <%= simple_format(@course.description) %>
  </div>
</div>

<div class="container">
<div class="button">
<%= link_to("发起活动", new_course_event_path(@course), class: "btn btn-danger pull-right")%>
</div>

  <table class="table table-boldered table-striped table-hover custab">
    <thead>
        <tr>
            <td>标题</td>
            <td>地点</td>
            <td>活动时间</td>
            <td>联系人</td>
            <td>联系方式</td>
            <td>查看</td>
        </tr>
    </thead>

  <%= render :partial => "events/events", :collection => @events, :as => :event %>
  </table>
</div>
</div>
